* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav li:first-child {
    margin-right: auto;
}

.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.intro__title {
    font-size: 0;
}

.intro__title:after {
    content: 'Parth Chauhan';
    font-size: 3rem;
}

.intro__subtitle {
    font-size: 0;
}

.intro__subtitle:after {
    content: 'Student';
    font-size: 1.5rem;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.form input,
.form__message {
    width: 100%;
}

.form__email,
.form__name {
    width: 50%;
}

.contact__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer p {
    display: none;
}

.footer:after {
    content: "\00a9 2019 Parth Chauhan";
    display: block;
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .about {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .contact {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .nav {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav__home {
        width: 100%;
    }

    .form__email,
    .form__name {
        width: 100%;
    }
}